#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
html, body {
    height: 100%;       /* Ensures the elements take up the full viewport height */
    overflow: hidden;   /* Hides any content that overflows the container and disables scrollbars */
}
img{
  max-width: 35%; /* Ensures the image doesn't exceed its container's width */
  height: auto;    /* Automatically adjusts the height to maintain the aspect ratio */
  margin: 0 auto;
}
input{
  z-index:-1;
  max-width: 100%; /* Ensures the image doesn't exceed its container's width */
  height: 100px;    /* Automatically adjusts the height to maintain the aspect ratio */
}

@media all and (min-width:0px) and (max-width: 800px) {
  .image_container{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    height: auto;    /* Automatically adjusts the height to maintain the aspect ratio */
    margin: 0 auto;
  }
}
@media all and (min-width:960px) and (max-width: 1024px) {
  img{
    max-width: 40%;
  }
}
@media all and (min-width:801px) and (max-width: 959px) {
  img{
    max-width: 40%;
  }
}

@media all and (min-width:769px) and (max-width: 800px) {
  img{
    max-width: 50%;
  }
}

@media all and (min-width:569px) and (max-width: 768px) {
  img{
    max-width: 50%;
  }
}

@media all and (min-width:481px) and (max-width: 568px) {
  img{
    max-width: 60%;
  }
}

@media all and (min-width:321px) and (max-width: 480px) {
  img{
    max-width: 65%;
  }
}

@media all and (min-width:0px) and (max-width: 320px) {
  img{
    max-width: 70%;
  }
}
.container_row{
  display: grid;
  place-items: center;
  grid-template-areas: 'overlap';
}
.image_container {
  grid-column: 1;
  grid-row: 1;
  grid-area: overlap

}
.links_container {
  grid-column: 1;
  grid-row: 1;
  grid-area: overlap
}
.links_grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.store_link {
  grid-row-start: 1;
  grid-row: 1;
  z-index:2;
}
.links_link {
  grid-row-start: 2;
  grid-row: 2;
  z-index:2;
}
.tour_link {
  grid-row-start: 3;
  grid-row: 3;
  z-index:2;
}



