#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
html, body {
    height: 100%;       
    overflow: hidden;   
}
input{
  z-index:-1;
  max-width: 100%; 
  height: 100px;    
}
@media all and (min-width:801px) and (max-width: 2000px) {
  .image_container{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    height: auto;    
    margin: 0 auto;
    margin-top: 10%;
  }
}
@media all and (min-width:0px) and (max-width: 800px) {
  .image_container{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    height: auto;    
    margin: 0 auto;
    margin-top: 17%;
  }
}
@media all and (min-width:1024px)  {
  img{
    max-width: 55%;
  }
  .mix_link{
    top: 70px;
    right: 190px;
  }

}
@media all and (min-width:960px) and (max-width: 1024px) {
  img{
    max-width: 55%;
  }
  .mix_link{
    top: 75px;
    right: 150px;
  }

}
@media all and (min-width:801px) and (max-width: 959px) {
  img{
    max-width: 55%;
  }
  .mix_link{
    top: 65px;
    right: 150px;
  }
}

@media all and (min-width:769px) and (max-width: 800px) {
  img{
    max-width: 85%;
  }
  .mix_link{
    top: 65px;
    right: 150px;
  }
}

@media all and (min-width:569px) and (max-width: 768px) {
  img{
    max-width: 90%;
  }
  .mix_link{
    top: 65px;
    right:90px;
  }
}

@media all and (min-width:481px) and (max-width: 568px) {
  img{
    max-width: 90%;
  }
  .mix_link{
    top: 50px;
    right: 25px;
  }
}

@media all and (min-width:321px) and (max-width: 480px) {
  img{
    max-width: 90%;
  }
  .mix_link{
    top: 5px;
    right: 120px;
  }
}

@media all and (min-width:0px) and (max-width: 320px) {
  img{
    max-width: 90%;
  }
  .mix_link{
    top: 5px;
    right: 5px;
  }
}
.header_container{
  grid-area: overlap;
  place-items: center;
}
.container_row{
  display: grid;
  place-items: center;
}
.image_container {
  grid-column: 1;
  grid-row: 2;
  grid-area: overlap;
  z-index: 0;
}
.links_container {
  grid-area: overlap;
}
.links_grid {
  display: grid;
  grid-template-rows: 2fr 2fr 2fr;
}
.store_link {
  grid-row-start: 1;
  grid-row: 1;
  z-index:1;
}
.links_link {
  grid-row-start: 2;
  grid-row: 2;
  z-index:2;
}
.tour_link {
  grid-row-start: 3;
  grid-row: 3;
  z-index:2;
}
.mix_link {
  z-index:3;
  grid-area: overlap;
  position: fixed;
}



