#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
html, body {
    height: 100%;       /* Ensures the elements take up the full viewport height */
    overflow: hidden;   /* Hides any content that overflows the container and disables scrollbars */
}
img{
  max-width: 50%; /* Ensures the image doesn't exceed its container's width */
  height: auto;    /* Automatically adjusts the height to maintain the aspect ratio */
  margin: 0 auto;
}
input{
  max-width: 50%; /* Ensures the image doesn't exceed its container's width */
  height: auto;    /* Automatically adjusts the height to maintain the aspect ratio */
}
.container_row{
  display: grid;
  place-items: center;
  grid-template-areas: 'overlap';
}
.image_container {
  z-index:-1;
  grid-column: 1;
  grid-row: 1;
  grid-area: overlap
}
.links_container {
  grid-column: 1;
  grid-row: 1;
  grid-area: overlap
}
.links_grid {
  display: grid;
  grid-template-rows: repeat(9, .3fr);
}
.store_link {
  grid-row-start: 4;
  grid-row: 4 span 3;
}
.links_link {
  grid-row-start: 5;
  grid-row: 5 span 3;
}
.tour_link {
  grid-row-start: 6;
  grid-row: 6 span 3;
}

button{
  background-color: transparent;
  color: red;
}
.site_header {
  transform: scale(0.8);
  position: fixed; /* Keeps the header fixed to the viewport */
  top: 0;          /* Positions it at the very top */
  background-color: transparent; /* Add a background color so content doesn't show through */
  z-index: -1;   /* Ensures the header is layered above other elements */
}


